body{
	background: green;
}

.poker_field{
	height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.behind_hand{
	width: 140px;
  height: 100px;
  background: blue;
}

#hand_change{
  position: fixed;
  bottom: 120px;
  right: 100px;

}

#after_poker_playing_buttons{
  position: fixed;
  bottom: 100px;
  right: 100px;

}

#computer_hands{
  padding-bottom: 100px
}

#player_hands{
	padding-top: 100px
}

#win_or_loss_judge{
	 text-align: center;
}


.hand{
  border : solid 1px black ;
}

.hand_item{
	display:table-cell;
}

.behind_hand{
	border : solid 1px black ;
  display:table-cell;
  color: blue
}


#player_role {
   animation: fadeIn 1s step-end 0s 1 normal;
	 -webkit-animation: fadeIn 1s step-end 0s 1 normal;
}

#computer_role {
   animation: fadeIn 2s step-end 0s 1 normal;
	 -webkit-animation: fadeIn 2s step-end 0s 1 normal;
}

#result {
	animation: fadeIn 3s step-end 0s 1 normal;
	-webkit-animation: fadeIn 3s step-end 0s 1 normal;
}

#after_poker_money{
	animation: fadeIn 4s step-end 0s 1 normal;
	-webkit-animation: fadeIn 4s step-end 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
