body{
	background: green;
}

#form {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#title {
	 color: red;
	 font-size: 700%;
	 text-align: center;
	 animation: fadeIn 2s ease 3s 1 normal;
	 -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}